---
import '../styles/components/image.scss'

const { id, alt, style } = Astro.props
---
<div class="image" style={`--image: url('/img/${id}');`}>
    <input type="checkbox" id={id} />
    <label for={id}>
        {style ? <img style={style} src={`/img/${id}`} alt={alt} /> : <img src={`/img/${id}`} alt={alt} />}
    </label>
</div>