---
const { id, alt, dataAlign } = Astro.props
---
<input type="checkbox" id={id} />
<label for={id}>
    {dataAlign ? <img data-align={dataAlign} src={`/img/${id}`} alt={alt} /> : <img src={`/img/${id}`} alt={alt} />}
</label>